@model CreateSocialDto
@{
    ViewData["Title"] = "CreateSocial";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Yeni Sosyal Medya Oluştur</h3>

<form method="post">
	<label>Başlık</label>
	<input asp-for="Name" class="form-control" />
	<br />

	<label>İkon</label>
	<input asp-for="Icon" class="form-control" />
	<br />

	<label>Url</label>
	<input asp-for="Url" class="form-control" />
	<br />

	<button class="btn btn-primary">Kaydet</button>
</form>