@model List<ResultAboutDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<h3>Hakkımda</h3>

<table class="table table-bordered">
	<tr>
		<th>#</th>
		<th>Başlık</th>
		<th>Açıklama</th>
		<th>Resim Url</th>
		<th>İşlemler</th>
	</tr>

	@foreach (var item in Model)
	{
		count++;
		<tr>
			<th>@count</th>
			<td>@item.Title</td>
			<td>@item.Description</td>
			<td>@item.ImageUrl</td>
			<td>
				<a href="/Admin/About/DeleteAbout/@item.Id" class="btn btn-outline-danger">Sil</a>
				<a href="/Admin/About/UpdateAbout/@item.Id" class="btn btn-outline-success">Güncelle</a>
			</td>
		</tr>
	}
</table>
<a href="/Admin/About/CreateAbout/" class="btn btn-outline-primary">Yeni Hakkımda Oluştur</a>