@{
    ViewData["Title"] = "Home Page";
}

@await Component.InvokeAsync("_SearchSectionComponentPartial")

@await Component.InvokeAsync("_HeroSectionComponentPartial")

@await Component.InvokeAsync("_AboutSectionComponentPartial")

@await Component.InvokeAsync("_ServiceSectionComponentPartial")

@await Component.InvokeAsync("_FeatureSectionComponentPartial")

@await Component.InvokeAsync("_CaseSectionComponentPartial")

@await Component.InvokeAsync("_FAQSectionComponentPartial")

@await Component.InvokeAsync("_TeamSectionComponentPartial")

@await Component.InvokeAsync("_TestimonialSectionComponentPartial")

@await Component.InvokeAsync("_NewsletterSectionComponentPartial")

<section class="p-5 text-center d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Gemini-Destekli Akıllı Asistan</h3>
                <form method="post">
                    <label>Prompt Girin:</label>
                    <input type="text" name="prompt" class="form-control" required />
                    <br />
                    <button class="btn btn-primary">Gönder</button>
                </form>
                <br />

                @if (ViewBag.response != null)
                {
                    <div class="alert alert-info">
                        <strong>Gelen Yanıt:</strong>
                        <br />
                        <p>
                            @ViewBag.response
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync("_FooterSectionComponentPartial")