
@*
    _AdminLayoutSidebarPartial
*@
<aside class="sidebar-wrapper" data-simplebar="true">
	<div class="sidebar-header">
		<div>
			<img src="/snacked/ltr/assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
		</div>
		<div>
			<h4 class="logo-text">Admin Panel</h4>
		</div>
		<div class="toggle-icon ms-auto">
			<i class="bi bi-list"></i>
		</div>
	</div>
	<!--navigation-->
	<ul class="metismenu" id="menu">

		<li>
			<a href="/Admin/Category/Index/">
				<div class="parent-icon d-flex">
					<i class="bi bi-house"></i>
				</div>
				<div class="menu-title">Kategoriler</div>
			</a>
		</li>

		<li>
			<a href="/Admin/About/Index/">
				<div class="parent-icon d-flex">
					<i class="bi bi-house"></i>
				</div>
				<div class="menu-title">Hakkımda</div>
			</a>
		</li>

		<li>
			<a href="/Admin/AboutItem/Index/">
				<div class="parent-icon d-flex">
					<i class="bi bi-house"></i>
				</div>
				<div class="menu-title">Hakkımda Ögeleri</div>
			</a>
		</li>

		<li>
			<a href="/Admin/Banner/Index/">
				<div class="parent-icon d-flex">
					<i class="bi bi-house"></i>
				</div>
				<div class="menu-title">AnaSayfa Banner</div>
			</a>
		</li>

		<li>
			<a href="/Admin/Choose/Index/">
				<div class="parent-icon d-flex">
					<i class="bi bi-house"></i>
				</div>
				<div class="menu-title">Neden Biz?</div>
			</a>
		</li>

		<li>
			<a href="/Admin/FAQ/Index/">
				<div class="parent-icon d-flex">
					<i class="bi bi-house"></i>
				</div>
				<div class="menu-title">Sık Sorulan Sorular</div>
			</a>
		</li>

		<li>
			<a href="/Admin/Feature/Index/">
				<div class="parent-icon d-flex">
					<i class="bi bi-house"></i>
				</div>
				<div class="menu-title">Hizmetlerim</div>
			</a>
		</li>

		<li>
			<a href="/Admin/Project/Index/">
				<div class="parent-icon d-flex">
					<i class="bi bi-house"></i>
				</div>
				<div class="menu-title">Projelerim</div>
			</a>
		</li>

		<li>
			<a href="/Admin/Social/Index/">
				<div class="parent-icon d-flex">
					<i class="bi bi-house"></i>
				</div>
				<div class="menu-title">Sosyal Medya</div>
			</a>
		</li>

		<li>
			<a href="/Admin/Testimonial/Index/">
				<div class="parent-icon d-flex">
					<i class="bi bi-house"></i>
				</div>
				<div class="menu-title">Referanslarım</div>
			</a>
		</li>

	</ul>
	<!--end navigation-->
</aside>