@model List<ResultProjectDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
	int count = 0;
}

<h3>Projeler</h3>

<table class="table table-bordered">
	<tr>
		<th>#</th>
		<th>Proje Başlığı</th>
		<th>Kategori</th>
		<th>İşlemler</th>
	</tr>

	@foreach (var item in Model)
	{
		count++;
		<tr>
			<th>@count</th>
			<td> <img src="@item.ImageUrl" style="height:75px; width:75px; border-radius:50%" alt="Proje Görseli" /> @item.Title</td>
			<td>@item.Category.Name</td>
			<td>
				<a href="/Admin/Project/DeleteProject/@item.Id" class="btn btn-outline-danger">Sil</a>
				<a href="/Admin/Project/UpdateProject/@item.Id" class="btn btn-outline-success">Güncelle</a>
			</td>
		</tr>
	}
</table>
<a href="/Admin/Project/CreateProject/" class="btn btn-outline-primary">Yeni Proje Oluştur</a>