@model UpdateFAQDto
@{
    ViewData["Title"] = "UpdateFAQ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Sık Sorulan Soru Güncelle</h3>

<form method="post">
	<input type="hidden" asp-for="Id" />
	<label>Başlık</label>
	<input asp-for="Question" class="form-control" />
	<br />

	<label>Açıklama</label>
	<input asp-for="Answer" class="form-control" />
	<br />

	<button class="btn btn-success">Güncelle</button>
</form>