
<div class="container-fluid bg-dark text-white-50 footer pt-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                <a href="index.html" class="d-inline-block mb-3">
                    <h1 class="text-white">AI<span class="text-primary">.</span>Tech</h1>
                </a>
                <p class="mb-0">
                    Öncü Yapay Zeka Çözümleriyle geleceği inşa ediyoruz. Veri Bilimi, Robotik Otomasyon ve Makine Öğrenimi alanlarında uzman ekibimizle, verimliliği artıran yenilikçi teknolojiler sunuyoruz.
                </p>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                <h5 class="text-white mb-4">İletişime Geçin</h5>
                <p><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                <p><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                <p><i class="fa fa-envelope me-3"></i>info@example.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                <h5 class="text-white mb-4">Popüler Bağlantılar</h5>
                <a class="btn btn-link" href="">Hakkımızda</a>
                <a class="btn btn-link" href="">Bize Ulaşın</a>
                <a class="btn btn-link" href="">Gizlilik Politikası</a>
                <a class="btn btn-link" href="">Şartlar ve Koşullar</a>
                <a class="btn btn-link" href="">Kariyer</a>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                <h5 class="text-white mb-4">Hizmetlerimiz</h5>
                <a class="btn btn-link" href="">Robotik Otomasyon</a>
                <a class="btn btn-link" href="">Makine Ögrenimi</a>
                <a class="btn btn-link" href="">Tahminsel Analiz</a>
                <a class="btn btn-link" href="">Veri Bilimi</a>
                <a class="btn btn-link" href="">Robot Teknolojisi</a>
            </div>
        </div>
    </div>
    <div class="container wow fadeIn" data-wow-delay="0.1s">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">Your Site Name</a>, All Right Reserved.

                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a> Distributed By <a class="border-bottom" href="https://themewagon.com">ThemeWagon</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="">Ana Sayfa</a>
                        <a href="">Çerezler</a>
                        <a href="">Yardım</a>
                        <a href="">SSS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>