@model List<ResultCategoryDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
	int count = 0;
}

<h3>Kategoriler</h3>

<table class="table table-bordered">
	<tr>
		<th>#</th>
		<th>Kategori Adı</th>
		<th>İşlemler</th>
    </tr>

	@foreach (var item in Model)
	{
		count++;
		<tr>
			<th>@count</th>
			<td>@item.Name</td>
			<td>
				<a href="/Admin/Category/DeleteCategory/@item.Id" class="btn btn-outline-danger">Sil</a>
				<a href="/Admin/Category/UpdateCategory/@item.Id" class="btn btn-outline-success">Güncelle</a>
			</td>
		</tr>
	}
</table>  
<a href="/Admin/Category/CreateCategory/" class="btn btn-outline-primary">Yeni Kategori Oluştur</a>