@model UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Kategori Güncelle</h3>

<form method="post">
	<input type="hidden" asp-for="Id" />
	<label>Kategori Adı</label>
	<input asp-for="Name" class="form-control" />
	<br />
	<button class="btn btn-success">Güncelle</button>
</form>